<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SoundShare</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <noscript>
    <link rel="stylesheet" href="/css/noscript.css">
    </noscript>
  </head>
  <body class="is-preload">
    <div id="wrapper">
        <header id="header">
            <div class="inner">
                <a href="/feed" class="logo">
                        <span class="symbol"><img src="images/logo.svg" alt=""></span><span class="title">SoundShare</span>
                    </a>
                    <nav>
                        <ul>
                        
                            <li><a href="/profile/<%=currentUser.id%>"><span class="image circle medium"><img src="<%=currentUser.image%>"></img></span></a></li>
                            <li><a href="#menu">Menu</a></li>
                        </ul>
                    </nav>
            </div>
        </header>

        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="/upload">Upload</a></li>
                <li><a href="/feed">Feed</a></li>
                    <li><a href="/profile/<%=currentUser.id%>">Profile</a></li>
                <li><a href="">Liked</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </nav>
    </div>
  </body>
</html>
