<%- include('partials/header') -%>
<div class='wrapper '>
<div class='row'>
    <div class="col-10 off-1">
        <h1>Error</h1>
        <p>Uh-oh, something went wrong</p>
        <p>There was an error regarding the upload of your post. Supported audio files are <strong>.mp3 and .wav.</strong> Supported image files are <strong>.webp, .png, .jpeg and .jpg.</strong></p>
    </div>
</div>
</div>
<div class='blank-space35'></div>
<%- include('partials/footer') -%>
