<%- include('partials/headerindex') -%>

<div class="main">
    <div class="inner">
        <header class='align-center'>
            <h1>Welcome to SoundShare!</h1>
            <p>Share your best sounds with a community of musicians looking for the next new thing!</p>
            <div class=''>
                <a href="/login" class="col-3 off-1 button next"> Login</a>
                <a href="/signup" class="col-3 off-1 button next"> Signup</a>
    </div>
    </header>
        <section class='tiles'>
            <article class='style1'>
                <span class="image">
                    <img src='images/sound-designer.jpeg' alt='pic' />
                </span>
                <a href="">
                    <h2>Sound!</h2>
                    <div class="content">
                        <p>Some text here</p>
                    </div>
                </a>
            </article>
            <article class='style2'>
                <span class="image">
                    <img src='images/musiccomm2.jpeg' alt='pic' />
                </span>
                <a href="">
                    <h2>Sound!</h2>
                    <div class="content">
                        <p>Some text here</p>
                    </div>
                </a>
            </article>
            <article class='style3'>
                <span class="image">
                    <img src='images/guitar-player.jpeg' alt='pic' />
                </span>
                <a href="">
                    <h2>Sound!</h2>
                    <div class="content">
                        <p>Some text here</p>
                    </div>
                </a>
            </article>
        </section>
    </div>
</div>


<%- include('partials/footer') -%>
