<%- include('partials/headerindex') -%>

<div id="wrapper">
<div id="main">
    <div class="inner">
        <header class='align-center'>
            <h1>Welcome to SoundShare!</h1>
            <p>Share your favourite sounds with a community of creatives looking for the next new thing!</p>
            <div class='with-margin-bottom'>
                <a href="/login" class="col-3 off-1 button next"> Login</a>
                <a href="/signup" class="col-3 off-1 button next"> Signup</a>
            </div>
        </header>
        <section class='tiles'>
            <article class='style1'>
                <span class="image">
                    <img src='images/audiodesignersqr.png' alt='pic' />
                </span>
                <a href="">
                    <h2>Sound design!</h2>
                    <div class="content">
                        <p>Designers can show off their new creations!</p>
                    </div>
                </a>
            </article>
            <article class='style2'>
                <span class="image">
                    <img src='images/musicianssqr.jpg' alt='pic' />
                </span>
                <a href="">
                    <h2>Musicians!</h2>
                    <div class="content">
                        <p>Drum loops are welcome!</p>
                    </div>
                </a>
            </article>
            <article class='style3'>
                <span class="image">
                    <img src='images/streamersqr.webp' alt='pic' />
                </span>
                <a href="">
                    <h2>Vocals and Melodies!</h2>
                    <div class="content">
                        <p>Share soulful melodies for other to use!</p>
                    </div>
                </a>
            </article>
        </section>
    </div>
</div>
</div>

<div class='blank-space10'></div>

<%- include('partials/footer') -%>
