<%- include('partials/header') -%>
<div class='wrapper '>
<div class='row'>
    <div class="col-10 off-1">
          <div class="">
            <h2>Upload new profile picture</h2>
            <form action="/post/updateProfilePicture" enctype="multipart/form-data" method="POST">
          <div class="fields">
              <div class="field">
                <label for='imgUpload' class="form-label"></label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <div class="field">
              <button type="submit" class="" value="Upload">Submit</button>
              </div>
              </div>
            </form>
          </div>
    </div>
</div>
</div>
<%- include('partials/footer') -%>
