<%- include('partials/header') -%>
<div class='wrapper '>
<div class='row'>
    <div class="col-10 off-1">
          <div class="">
            <h2>Add a post</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
          <div class="fields">
              <div class="field">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="field">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="field">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <div class="field">
              <button type="submit" class="" value="Upload">Submit</button>
              </div>
              </div>
            </form>
          </div>
    </div>
</div>
</div>
<%- include('partials/footer') -%>
